  
<html>
    <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Sentinela</title>
      <link rel="shortcut icon" type="imagex/png" href="/static/logo.ico">
      <link rel="stylesheet" href="/styles/agendamento.css">
    <head>
    <body>
      <header class="cabecalho">
          <div class='ini' onmouseover="abrir()" onmouseout="fechar()">
            <div class='menu'>
              <img src='/static/Vector.png' class='imgMenu' id='img' ></img>
            </div>
            <p class="titulo">Agendamento</p>
          </div>
              
      <div class='logo'>
        <img src='/static/unimed.png' class="img"></img>
      </div>
          <div class="usuario">
            <p id="login"><%= usuario %></p>
          </div>
      </header>
  
      <div class='itens' id='iten' onmouseover="abrir()" onmouseout="fechar()">
        <div class="botao-itens">
          <button onclick="redirecionar('pacientes')">Lista de pacientes</button>
          <button onclick="redirecionar('lista_agend')">Lista de agendamento</button>
          <button onclick="redirecionar('calendario')">Agendamento</button>
        </div>
        <div>
          <form action="/sair" method="get"><button>Sair</button></form>
        </div>
      </div>

      <main>
        
        <div class='dados'>
          <h1>Agendamento</h1>
          <div class='dados_p'>
            <p id="nome"></p>
            <p id="tel"></p>
            <p id="email"></p>
          </div>
            <div class="agendamento">
                <div class="cartao">
                  <label for="data">Data</label>
                  <input type="data" name="data" class="input" id="data" readonly>
                </div>
                <div class="cartao">
                    <label for="hora">Horário</label>
                    <input type="time" name="hora" id="hora" class="input-hora">
                </div>
                <div class="cartao">
                  <label for="endereco">Local</label>
                  <select name="endereco" class="input-end" id="endereco">
                  </select>
                </div>
            </div>
            <div class="dbotao">
              <button onclick="gravarAgendamento()" class="botao"> Salvar</button>
              <button class="botaoCe" onclick="redirecionar('lista_agend')">Cancelar</button>
            </div>
        </div>
      </main>
      <div id="modal" class="modal">

        <!-- Modal content -->
        <div class="modal-content">
          <p>Aviso</p>
          <p>Agendamento criado com sucesso</p>
          <button id="fechar" onclick="redirecionar('lista_agend')" class="botao">Continuar</button>
        </div>
      
      </div>

      <div id="modalerror" class="modal ">

        <!-- Modal content -->
        <div class="modal-content">
          <p class="error">Erro ao Registrar</p>
          <p class="error">Não foi possível criar o agendamento!! Verifique os dados e se já possui algum agendamento nesse horário.</p>
          <button id="fechar" onclick="fecharErro()" class="botao">Continuar</button>
        </div>
      
      </div>
      
      <script src="/js/agendamento.js"></script>  
    </body>
  </html>