  
<html>
    <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Sentinela</title>
      <link rel="shortcut icon" type="imagex/png" href="/static/logo.ico">
      <link rel="stylesheet" href="/styles/calendario.css">
    <head>
    <body>
      <header class="cabecalho">
          <div class='ini' onmouseover="abrir()" onmouseout="fechar()">
            <div class='menu'>
              <img src='/static/Vector.png' class='imgMenu' id='img' ></img>
            </div>
            <p class="robinson">Calendario</p>
          </div>
              
      <div class='logo'>
        <img src='/static/unimed.png' class="img"></img>
      </div>
          <nav>
             <p id='teste'> <%= usuario %></p>
          </nav>
      </header>
  
      <div class='itens' id='iten' onmouseover="abrir()" onmouseout="fechar()">
        <div>
          <button onclick="redirecionar('pacientes')">Lista de pacientes</button>
          <button onclick="redirecionar('lista_agend')">Lista de agendamento</button>
          <button onclick="redirecionar('calendario')">Agendamento</button>
        </div>
        <div>
          <form action="/sair" method="get"><button>Sair</button></form>
        </div>
      </div>

      <main>
        <div class='dados'>
          <h2 class="titulo">Dados do Paciente</h2>
          <div class='dados_p'>
            <p id="nome"></p>
            <p id="tel"></p>
            <p id="email"></p>
          </div>
        </div>
        
        <div class="calendar">
          <div class="calendar-header">
            <button id="prevMonthBtn">&lt;</button>
            <h2 id="currentMonthYear"></h2>
            <button id="nextMonthBtn">&gt;</button>
          </div>
          <div class="calendar-body" id="calendarBody"></div>
        </div>

      </main>
  
      <div id="modal" class="modal">

        <!-- Modal content -->
        <div class="modal-content">
          <p>Aviso</p>
          <p>Não é possível realizar um agendamento em uma data anterior a atual!!</p>
          <button id="fechar" onclick="fecharModal()" class="botao">Continuar</button>
        </div>
      
      </div>
        
      <script src="/js/calendario.js"></script>  
    </body>
  </html>