  
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sentinela</title>
    <link rel="shortcut icon" type="imagex/png" href="/static/logo.ico">
    <link rel="stylesheet" href="/styles/lista_agendamento.css">
  <head>
  <body>
    <header class="cabecalho">
        <div class='ini' onmouseover="abrir()" onmouseout="fechar()">
          <div class='menu'>
            <img src='/static/Vector.png' class='imgMenu' id='img' onclick='abrir()'></img>
          </div>
          <p class="robinson">Lista de Agendamento</p>
        </div>
            
    <div class='logo'>
      <img src='/static/unimed.png' class="img"></img>
    </div>
        <nav>
          <p id='teste'> <%= usuario %></p>
        </nav>
    </header>

    <div class='itens' id='iten' onmouseover="abrir()" onmouseout="fechar()">
      <div>
        <button onclick="redirecionar('pacientes')">Lista de pacientes</button>
        <button onclick="redirecionar('lista_agend')">Lista de agendamento</button>
        <button onclick="redirecionar('calendario')">Agendamento</button>
      </div>
      <div>
        <form action="/" method="get"><button>Sair</button></form>
      </div>
    </div>
    <main>
      <div class='dados'>
        <h2 class="titulo">Dados do Paciente</h2>
        <div class='dados_p'>
          <p id="nome">Nome: </p>
          <p id="tel">Telefone: </p>
          <p id="email">E-mail: </p>
        </div>
      </div>
      <h>Lista de agendamento</h>
      <div class='fundo'>
        <div class='tabela' id='tabela'>
          <div class='thead'>
            <div class='inicio'>Data agendada</div>
            <div class='col-ro'>Horario</div>
            <div class='col-ro'>Data do agendamento</div>
            <div class='col-ro'>Local do agendamento</div>
            <div class='final'>Marcar consulta</div>
          </div>
          <div class='titen'>
              <div class='col-ro'>16/03/2024</div>
              <div class='col-ro'>14:00</div>
              <div class='col-ro'>08/02/2024</div>
              <div class='col-ro'>Av airlton sena, 1065</div>
              <div class='col-ro'><a href="/calendario"><img src='/static/Group.png' class='imgMenu' id='img'></a></div>
          </div>
        </div>
      </div>
    </main>

      
    <script src="/js/lista.js"></script>  
  </body>
</html>