<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sentinela</title>
    <link rel="shortcut icon" type="imagex/png" href="../logo.ico">
    <link rel="stylesheet" href="../login.css">
  <head>
  <body>
    <div class="pagina">
        <div class="timer" id="timer">
            <h2>Timer</h2>
            <h2 class="tempo" id="tempo">25:00</h2>
            <button onclick="Estudo()" id="botao"></button>
        </div>
    </div>
  </body>
</html>