<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sentinela</title>
    <link rel="shortcut icon" type="imagex/png" href="/static/logo.ico">
    <link rel="stylesheet" href="/styles/pacientes.css">
  <head>
  <body>
    <header class="cabecalho">
        <div class='ini' onmouseover="abrir()" onmouseout="fechar()">
          <div class='menu'>
            <img src='/static/Vector.png' class='imgMenu' id='img' onclick='abrir()'></img>
          </div>
          <p class="robinson">Lista de Pacientes</p>
        </div>
        <div class='logo'>
          <img src='/static/unimed.png' class="img"></img>
        </div>
        <nav>
            <p id='usuario'><%= usuario %></p>
        </nav>
        
        
    </header>
    <div class='itens' id='iten' onmouseover="abrir()" onmouseout="fechar()">
      <div>
        <button onclick="redirecionar('pacientes', true)">Lista de pacientes</button>
        <button onclick="redirecionar('lista_agend')">Lista de agendamento</button>
        <button onclick="redirecionar('calendario')">Agendamento</button>
      </div>
      <div>
        <form action="/sair" method="get"><button>Sair</button></form>
      </div>
    </div>
    <main id='main'>
      <h>Lista de pacientes</h>
      
      <div class='fundo'>
        <div class='tabela' id='tabela'>
          <div class='thead'>
            <div class='inicio'>Nome</div>
            <div class='col-ro'>E-mail</div>
            <div class='col-ro'>Telefone</div>
            <div class='col-ro'>Verificar agendamentos</div>
            <div class='final'>Agendar</div>
          </div>
        </div>
      </div>
      
    </main>
    
    <div id="modalerror" class="modal ">

      <!-- Modal content -->
      <div class="modal-content">
        <p class="error">Aviso</p>
        <p class="error">Por favor escolha um paciente antes de ir para a próxima página!</p>
        <button id="fechar" onclick="fecharErro()" class="botao">Continuar</button>
      </div>
    
    </div>

    <script src="/js/main.js"></script>  
  </body>
</html>