  
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sentinela</title>
    <link rel="shortcut icon" type="imagex/png" href="/static/logo.ico">
    <link rel="stylesheet" href="/styles/teste.css">
  <head>
  <body>
    <header class="cabecalho">
        <div class='ini'>
          <div class='menu'>
            <img src='/static/Vector.png' class='imgMenu' id='img' onclick='abrir()'></img>
          </div>
          <p class="robinson">Lista de Pacientes</p>
        </div>
        <nav>
            <p id='teste'></p>
        </nav>
        
        
    </header>
    <div class='itens' id='iten'>
      <p>Lista de pacientes</p>
      <p>Lista de agendamento</p>
      <p>Agendamento</p>
    </div>
    <main id='main'>
      <h>Lista de pacientes</h>
      
      <div class='fundo'>
        <div class='tabela' id='tabela'>
          <div class='thead'>
            <div class='inicio'>Nome</div>
            <div class='col-ro'>E-mail</div>
            <div class='col-ro'>Telefone</div>
            <div class='final'>agendar</div>
          </div>
          <div class='titen'>
              <div class='col-ro'>Guilherme</div>
              <div class='col-ro'>gui@gmail.com</div>
              <div class='col-ro'>43 99999-9999</div>
              <div class='col-ro'><img src='/static/Group.png' class='imgMenu' id='img'></img></div>
          </div>
        </div>
      </div>
      
    </main>
    <div class='logo'>
      <img src='/static/logo.png' class="img"></img>
    </div>
    
    <script src="/js/main.js"></script>  
  </body>
</html>