  
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sentinela</title>
    <link rel="shortcut icon" type="imagex/png" href="../logo.ico">
    <link rel="stylesheet" href="../teste.css">
  <head>
  <body>
    <header class="cabecalho">
        <div class='ini'>
          <div class='menu'>
            <img src='../Vector.png' class='imgMenu' id='img' onclick='abrir()'></img>
          </div>
          <p class="robinson">Lista de Pacientes</p>
        </div>
        <nav>
            <p id='teste'></p>
        </nav>
        
        
    </header>
    <div class='itens' id='iten'>
      <p>Lista de pacientes</p>
      <p>Lista de agendamento</p>
      <p>Agendamento</p>
    </div>
    <main id='main'>
      <h>Lista de pacientes</h>
    </main>
    <script src="../main.js"></script>
  </body>
</html>