*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.cabecalho{
  display: flex;
  font-size: 1rem;
  border: 1px solid black;
  margin: 0px;
  padding: 5px ;
  justify-content: space-between;
  align-items: center;
  background-color: #457a39;
}
body{
  margin: 0px;
  background-color: #87bd77;
}

nav{
    display: flex;
    justify-content: center;
    width: 200px;
}

a{
    text-decoration: none;
    font-family: "Patrick Hand SC", cursive;
    font-weight: 800;
    font-style: normal;
    color: #3C3A5D;
}

.ini{
  display:flex;
  width: 210px;
  justify-content: space-between;
  align-items: center;
}

.itens{
  width: 0px;
  display: flex;
  flex-direction: column;
  position: fixed;
  top:4rem;
  bottom: 0;
  overflow: hidden;
  background-color: #457a39;
  transition: width 0.3s; 
  justify-content: space-between;
  padding-bottom: 1rem;
}

.itens button{
  display: block;
  border: 1px solid black;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: #87bd77;
  text-align: center;
  width:230px;
  border-radius: 20px;
  margin-top: 15px;
  margin-left: 5px;
  margin-right: 5px;
  padding: 10px 12px;
}

.itens button:hover{
  background-color: #6ba15d;
  box-shadow: none;
}


main{
  padding: 12px;
  display: flex;
  flex-direction: column;
  transition: margin-left 0.5s;
  align-items: center;
  width: 98%;
  height: 85%;
}

.tabela{
  border-radius: 20px;
  display:flex;
  flex-direction:column;
  width: 100%;
}

.fundo{
  border: 1px solid black;
}

.fundo{
  margin-top: 20px;
  background-color: white;
  border-radius: 20px;
  width: 100%;
  height: 90%;
}

.thead, .titen{
  border-radius:20px 20px 0px 0px;  
  display:flex;
  flex-direction: row;
}

.thead.div, .titen.div{
  margin-left:10px;
}

.col-ro, .inicio, .final{
  border: 1px solid black;
  padding:10px;
  width:25%;
  text-align:center;
}

.inicio{
  border-radius: 20px 0px 0px 0px;
}

.final{
  border-radius: 0px 20px 0px 0px;
}

.thead{
  background-color: #71a662;
}


.logo{
  display: flex;
  margin: 0px;
}

.logo img{
  width: 150px;
}

.dados{
  display: flex;
  gap: 2rem;
  padding: 1rem;
  flex-flow: column wrap;
  align-items: center;
  background-color: #71a662;
  width: 90vw;
  border-radius: 20px;
  word-break: break-all;
}

.dados_p{
  display: flex;
  gap: 2rem;
  justify-content: space-around;
  width: 90%;
  font-size: 20px;
}

.calend{
  border: 0px;
  background-color: white;
}

button{
  cursor: pointer;
}

@media (max-width: 1200px){
  h2{
    font-size: 1rem;
  }
  .col-ro{
    font-size: 0.85rem;
    justify-content: center;
  }

  .dados_p{
    font-size: 0.85rem;
  }

}

@media (max-width:900px){
  .col-ro{
    font-size: 0.8rem;
    justify-content: start;
  }
}

@media (max-width: 600px) {
  .usuario{
    display: none;
  }
  .logo{
    width: 10rem;
  }
  .titulo{
    display: none;
  }
  .ini{
    width: 24px;
  }

  .tabela{
    font-size: 0.90rem;
  }
  .col-ro{
    font-size: 0.7rem;
    justify-content: start;
  }
  .dados_p{
    flex-flow: column;
    font-size: 0.85rem;
  }
} 